:root {
	--blue: #025cd1;
	--light_blue: #0d62cb;
}

html {
	overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
	width: 0.4rem;
}
/* Track */
::-webkit-scrollbar-track {
	background-color: #f8f8f8;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--blue);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #1e54b8;
}

.bg-lightGray {
	background-color: #f8f8f8;
}

.bg-blue {
	background-color: #3153d8;
}

.gray {
	color: #f8f8f8;
}

.ls-3 {
	letter-spacing: 0.03rem;
	word-spacing: 0.1rem;
}

.fs-6 {
	font-size: 1rem !important;
}
.fs-7 {
	font-size: 0.9rem !important;
}

.fs-8 {
	font-size: 0.8rem !important;
}

.blue {
	color: var(--blue) !important;
}
.light-blue {
	color: var(--light_blue) !important;
}

.line {
	height: 4px !important;
	background-color: var(--blue) !important;
	opacity: 1;
}

.fs-0 {
	font-size: 3rem !important;
}

.poppins-m {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
}

.poppins-l {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
}

.OpenSauceOneBlack {
	font-family: OpenSauceOneBlack, sans-serif;
}

.OpenSauceOneBold {
	font-family: OpenSauceOneBold, sans-serif;
}

.OpenSauceOneRegular {
	font-family: OpenSauceOneRegular, sans-serif;
}

.OpenSauceOneMedium {
	font-family: OpenSauceOneMedium, sans-serif;
}

.OpenSauceOneLight {
	font-family: OpenSauceOneLight, sans-serif;
}

.OpenSauceOneSemiBold {
	font-family: OpenSauceOneSemiBold, sans-serif;
}

.OpenSauceSansMedium {
	font-family: OpenSauceSansMedium, sans-serif;
}

.OpenSauceSansBlack {
	font-family: OpenSauceSansBlack, sans-serif;
}

.OpenSauceOneExtraBold {
	font-family: OpenSauceOneExtraBold, sans-serif;
}

#thirdInServices {
	margin-top: -0.3rem !important;
}

.button {
	background-color: white !important;
	width: fit-content !important;
	text-decoration: none !important;
	padding: 1rem;
	border-radius: 0.3rem;
}

iframe {
	min-height: 300px;
}

footer p {
	text-align: center;
}

@media (max-width: 992px) {
	.nav-item > * {
		font-size: 2rem !important;
		font-weight: 600;
		text-align: center;
	}
	#work_state {
		position: absolute;
		bottom: 1rem;
		left: 0;
		right: 0;
	}
}

@media (min-width: 576px) {
	footer p {
		text-align: start;
	}

	footer p.ms-md-2 {
		text-align: end;
	}
}
